<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Add the link to the CSS stylesheet here -->
    <!-- Hint: the link is relative to the public folder -->
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/headerFooter.css">
    <title>To Do List</title>
  </head>
  <header>
    <a class="nav-link" href="/today"><i class="far fa-clone"></i>Today</a>

    <a class="nav-link" href="/work"><i class="far fa-calendar-alt"></i>work</a>
  </header>
  <body>
    <main></main>
  </body>
</html>
